body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}
.logo img {
    width: 70px;
    position: center;
    align-items: center;
    margin-right: 90%;

   
}
.intro {
    text-align: center;
    padding: 20px;
}

.listings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.property {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.property img {
    width: 100%;
    border-radius: 5px;
}

button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: white;
}